<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>824754544409-r6pqva53g69hbc9ic58i1uj0k40i0nfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824754544409-r6pqva53g69hbc9ic58i1uj0k40i0nfc</string>
	<key>API_KEY</key>
	<string>AIzaSyAknY88h-7WTZxND53hwETGtDjoy6kllTk</string>
	<key>GCM_SENDER_ID</key>
	<string>824754544409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egoChat.ChatView</string>
	<key>PROJECT_ID</key>
	<string>e-goapptest</string>
	<key>STORAGE_BUCKET</key>
	<string>e-goapptest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824754544409:ios:44de97d6175673e6</string>
	<key>DATABASE_URL</key>
	<string>https://e-goapptest.firebaseio.com</string>
</dict>
</plist>